<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Longern - Artful Expressions</title>
    <link rel="stylesheet" href="/static/css/principal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/Img/6B930769-72F7-463F-96DC-ADA2DC59E605_3-removebg-preview.png">
</head>
<body>

    <header>
        <div class="navbar">
            <button class="menu-button" onclick="toggleMenu()">
                <span class="line line1"></span>
                <span class="line line2"></span>
            </button>
            <nav class="menu" id="menu">
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('camisetas') }}">Camisetas</a></li>
                </ul>
            </nav>
            <a href="{{ url_for('index') }}" class="brand-name">
                <h1>LONGERN</h1>
            </a>
            <a class="texto" href="{{ url_for('track_order') }}">
                <button class="button">
    
      
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                    </svg>
                  
                    
                    <div class="text">
                      Rastear Pedido
                    </div>
    
                  </button>
                </a>
            <div class="right-menu">
                <a href="#" class="cart-icon" id="cart-icon">
                    <img src="/static/Img/shopping-cart_11614817-33-_arrastrado_-removebg-preview.png" alt="Carrito" id="cart-icon-img">
                </a>
                <div id="cart-dropdown" class="cart-dropdown">
                    <ul id="cart-items"></ul>
                    <button id="clear-cart" class="clear-cart-btn" onclick="clearCart()">Eliminar todos los productos</button>
                    <button id="checkout" class="checkout-btn" onclick="checkout()">Finalizar compra</button>
                </div>
            </div>
        </div>
    </header>

    <div class="slider-container">
        <div class="slider">
            <div class="slide"><img src="/static/Img/prueba2.jpeg" alt="Image 1"></div>
            <div class="slide"><img src="/static/Img/prueba6.jpeg" alt="Image 2"></div>
            <div class="slide"><img src="/static/Img/prueba4.jpeg" alt="Image 3"></div>
            <div class="slide"><img src="/static/Img/prueba2.jpeg" alt="Image 1"></div>
        </div>
        <button class="prev-btn">&#10094;</button>
        <button class="next-btn">&#10095;</button>
    </div>

    <main>
        <div class="content-wrapper">
            <section class="intro">
                <h2>"Artful Expressions"</h2>
                <p>El primer drop de ropa lanzado por nuestra marca está inspirado en un universo de arte y figuras emblemáticas. Cada pieza ha sido cuidadosamente diseñada para capturar la esencia y la belleza del mundo artístico, combinando colores vibrantes, texturas únicas y estampados originales. Además, hemos incorporado frases inspiradoras y motivadoras que todos alguna vez hemos deseado escuchar, buscando así no solo vestir a nuestros clientes, sino también empoderarlos y conectar con sus emociones más profundas a través de la moda. Este lanzamiento representa nuestra pasión por el arte, la creatividad y el deseo de hacer una declaración audaz en el mundo de la moda.</p>
                <p><strong>LIMITED EDITION</strong></p>
            </section>
            <section class="image-section">
                <video class="video" autoplay loop muted>
                    <source src="/static/Img/video.mp4" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </section>
        </div>
    </main>
    <section class="drop-timer">
        <p><strong>Tiempo para el próximo DROP</strong></p>
        <div class="timer">
            <div id="months"></div>
            <div id="days"></div>
            <div id="hours"></div>
            <div id="minutes"></div>
            <div id="seconds"></div>
        </div>
    </section>

    <footer>
        <div class="social-links">
            <a href="#"><img src="/static/Img/social_13051733-removebg-preview.png" alt="Facebook"></a>
            <a href="#"><img src="/static/Img/instagram_2111463-removebg-preview.png" alt="Instagram"></a>
            <a href="#"><img src="/static/Img/whatsapp_3938041-removebg-preview.png" alt="WhatsApp"></a>
        </div>
    </footer>

    <script src="/static/JS/principal.js"></script>
</body>
</html>
